<h1>From Index Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %> </th>
        <td><%= article.title %> </th>
        <td>PLACEHOLDER </th>
      <tr>
    <% end %>
  </tbody>

</table>

